<%- include('../partials/header.ejs') %>
<%- include('../components/nav.ejs') %>
    <section class="user">
        <h1 class="user__name">Hi! I'm <%= user.hidePersonalData == true ? user.displayName : `${user.firstName}${' ' + user.middleName + ' '}${user.lastName}`%></h1>
        <p class="user__bio">
            <%= user.bio %>
        </p>
    </section>
<%- include('../partials/footer.ejs') %>